@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;
  --bg-color: #3b3b31; /* Beige background */
  --card-bg-color: #66685a; /* Light beige card */
  --text-color: #000; /* Black text for better contrast */
  --text-muted: #555; /* Dark grey for muted text */
  --font-size-small: 1.4rem;
  --font-size-medium: 1.8rem;
  --font-size-large: 2.4rem;
  --padding: 40px;
  --margin-small: 10px;
  --margin-medium: 20px;
  --margin-large: 30px;
  font-size: 62.5%;
  background: var(--bg-color);
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-player {
  background: var(--card-bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.desc-musica {
  margin: var(--margin-medium) 0 var(--margin-small);
}

.desc-musica span {
  color: var(--text-muted);
}

.conteudo-musica p {
  font-size: var(--font-size-large);
}

.conteudo-musica span {
  font-size: var(--font-size-medium);
}

.controles {
  margin: var(--margin-small) 0 var(--margin-large);
  display: flex;
  justify-content: center;
  gap: 20px;
}


.controles button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container-progresso input {
  width: 100%;
  cursor: pointer;
}

.tempo-musica {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-small);
  opacity: 0.8;
}

.musica-buttons {
  margin-top: var(--margin-medium);
  display: flex;
  justify-content: space-between;
}

.musica-buttons button {
  background: var(--card-bg-color);
  border: 1px solid var(--text-muted);
  color: var(--text-color);
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.musica-buttons button:hover {
  background: var(--text-muted);
  color: var(--card-bg-color);
}

